html{
	font-size: 36px;
}

.body{
	background-color: #FFFEFF;
}

.qb1{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(245, 255, 246, 0.5) , #FFFEFF);
	border-radius: 1rem;
}
.qb2{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(234, 249, 254, 0.3) , #FFFEFF);
	border-radius: 1rem;
}
.qb3{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(243, 243, 254, 0.3) , #FFFEFF);
	border-radius: 1rem;
}
.qb4{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(255, 249, 245, 0.3) , #FFFEFF);
	border-radius: 1rem;
}
.qb5{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(245, 239, 245, 0.3) , #FFFEFF);
	border-radius: 1rem;
}
.qb6{
	margin: 0 auto;
	width: 95%;
	background: linear-gradient(to right, rgba(245, 255, 246, 0.5) , #FFFEFF);
	border-radius: 1rem;
}
.center{
	position: relative;
	top: 10px;
	margin: 0 auto;
	width: 95%;
	text-align:center;
	color: #778899;
}
.ctrline{
	position: relative;
	top: 5px;
	margin: 0 auto;
	width: 70%;
	text-align:center;
	color: rgba(0, 0, 0, 0.05);
}
.ql1{
	position: relative;
	top: 0.3rem;
	left: 2rem;
	color:rgba(100, 100, 100, 0.9);
}
.ql2{
	position: relative;
	top: 0.2rem;
	left: 3rem;
	font-size: 1.3rem;
	color: rgba(130, 130, 130, 0.9);
	user-select:none;
}
.qtn{
	position: relative;
	top: 0.2rem;
	left: 3rem;
	height: 3.2rem;
	color: rgba(130, 130, 130, 0.9);
}

.iptsz{
	width: 0.8rem;
	height: 0.8rem;
}
.diysz{
	width: 15rem;
	height: 1.3rem;
	font-size: 1rem;
}
.head{
	position:relative;
	top: 5px;
	left: 2.5%;
	width: 97.5%;
	background: linear-gradient(to right, rgba(255, 150, 150, 0.02), #FFFEFF);
}

.button-position{
  position: relative;
  top: 0.2rem;
  left: 10%;
  height: 2.5rem;
  width: 40%;
}